
    <nys-textinput
    name="searchInput"
    type="search"
    placeholder="Search"
    id="searchInput"
    width="full"
    errorMessage="This is an error message" 
  
    >
    <nys-button
        slot="endButton"
        type="submit"
        label="Search"
        prefixIcon="search"
        id="searchButton"
    ></nys-button>
    </nys-textinput>
