---
layout: nygovLanding.njk
title: NYS Digital Service NYgov Alpha Test
---
{% from './_includes/_components.njk' import nysdsSearch, accomplishments, hero, imageFull %}

<div class="h-32"></div>


{{ hero({
    title: "",
    headline:"",
    searchDescription:"",
    image:"img/statefair_ride_hero.jpg",
    caption:"New York State Fair (Syracuse, NY) © I Love NY",
    alt:"New York State Fair (Syracuse, NY) © I Love NY"
    })
}}

{{ accomplishments({
    title: "Helpful Guides and Resources",
    description:"",
    tiles: [
        {
            icon:"fa-solid fa-person-breastfeeding",
            title:"New Parent and Early Childhood",
            text:"Whether you’re expecting a child or caring for a newborn, you can find resources and services to help your family thrive.",
            link:"#"
        },
        {
            icon:"fa-solid fa-people-carry-box",
            title:"Moving to New York State",
            text:"Are you ready to make New York State your home? Here’s information to help make the move easier, including regional highlights, jobs, housing, education and more.",
            link:"#"
        },
        {
            icon:"fa-solid fa-sign-hanging",
            title:"Buying a Home",
            text:"Buying a home is one of the biggest financial decisions you'll make. Take time to understand what you can afford, research the property, and learn more about homeownership.",
            link:"#"
        }
    
    ]
    })
}}

<div class="h-32"></div>

{{ imageFull({
    icon:"iloveNY.png",
    title: "Discover New York",
    description:"Many of New York State’s world- class attractions are accessible to and offer specialty programming for travelers with accessible walkways above the Adirondack forest treetops at the Wild Center.",
    image:"thatcher-from-iloveny.avif",
    alt:"a wonderful description",
    links: [
        {
            text:"An example first link",
            url:"#"
        },
        {
            text:"Visit NY",
            url:"#"
        }
    ]
    
    })
}}

<div class="h-32"></div>