---
layout: layout-simple.njk
title: reimagine footer
---
{% from './_includes/_components.njk' import reimagineFooter%}

<style>
    {% include "./_includes/_reimagineFooter/_reimagineFooter.css" %}
    .reimagine-footer-accordion {
    appearance: none;
    border: 0;
    width:100%;
    border-bottom: 1px solid white;
    cursor: pointer;
    box-sizing: border-box;
  }
  [x-cloak] { 
    display: none !important; 
}

[hidden] {
    display: none !important;
}


</style>

<div class="flex h-24"></div>

{{
    reimagineFooter({
        social:[
            {
                title:"Instagram",
                link:"#"
            },
            {
                title:"X",
                link:"#"
            }
        ],
        columns:[
            {
                col:1,
                title:"Site Policies",
                links:[
                    {
                        title:"Accessibility",
                        link:"#"
                    },
                    {
                        title:"Policies",
                        link:"#"
                    },
                    {
                        title:"Disclaimer",
                        link:"#"
                    }
                ]
            },
            {
                col:2,
                title:"Resources",
                links:[
                    {
                        title:"Accessibility",
                        link:"#"
                    },
                    {
                        title:"Policies",
                        link:"#"
                    },
                    {
                        title:"Disclaimer",
                        link:"#"
                    }
                ]
            },
            {
                col:3,
                title:"Alerts & Support",
                links:[
                    {
                        title:"Accessibility",
                        link:"#"
                    },
                    {
                        title:"Policies",
                        link:"#"
                    },
                    {
                        title:"Disclaimer",
                        link:"#"
                    },
                    {
                        title:"Accessibility",
                        link:"#"
                    },
                    {
                        title:"Policies",
                        link:"#"
                    },
                    {
                        title:"Disclaimer",
                        link:"#"
                    }
                ]
            }
            
        ],
        cta:[
            {
                title:"Register to Vote",
                link:"#",
                description:"Sign up or download and mail in your application"
            }
        ]
        
    })
}}