<section class="flex flex-col mt-[80px] items-center  mx-[20px] sm:mx-[35px]">


    <h2 class="text-[28px] text-center mt-0 mb-[30px] mx-4"> {{params.title}}</h2>

    <ul class="flex flex-wrap xl:flex-nowrap w-full gap-[40px] max-w-[1160px] justify-center p-0 mx-[20px] sm:mx-[35px] my-0
                
                
                ">
        {% for tile in params.tiles %}
        <li class="list-none flex ">
            <a  href="{{tile.link}}" 
                class="flex flex-col no-underline group border border-solid border-neutral-200  
                hover:border-transparent focus:border-transparent 
                focus:outline focus:outline-2 focus:outline-theme hover:outline hover:outline-2 hover:outline-theme
                rounded-lg p-8 
                max-w-[400px]
                md:w-[360px]
                "

                aria-labelledby="tile-heading-{{loop.index}}"
                aria-describedby="tile-description-{{loop.index}}"
            >
                <div class="{{tile.icon}} text-[40px] text-theme-mid group-hover:text-theme group-focus:text-theme" aria-hidden="true"></div>
                <h3 class="text-theme text-[20px] group-focus-within:underline group-focus-within:decoration-1  group-hover:underline group-hover:decoration-1" 
                    id="tile-heading-{{loop.index}}"
                    >
                    {{tile.title}} 
                </h3>
                <p class="text-black text-[18px] leading-[1.5em] mt-0"
                    id="tile-description-{{loop.index}}"
                    >
                    {{tile.text}}
                </p>
                <div class="fa-solid fa-arrow-right text-theme-mid text-[20px] mt-auto group-hover:text-theme group-focus:text-theme" aria-hidden="true"></div>
            </a>
        </li>
        {% endfor %}
    </ul>



</section>