<section class="flex flex-col items-center">


    <h2 class="text-[28px] text-center mb-12"> {{params.title}}</h2>

    <div class="flex gap-6 flex-wrap justify-center">
        {% for tile in params.tiles %}
        <a  href="{{tile.link}}" 
            class="flex flex-col no-underline group border border-solid border-neutral-200  focus:outline focus:outline-2 focus:outline-theme hover:outline hover:outline-2 hover:outline-neutral-900 rounded-lg p-8 w-4/5 sm:w-[300px] sm:h-[300px]"
            aria-labelledby="tile-heading-{{loop.index}}"
            aria-describedby="tile-description-{{loop.index}}"
        >
            <div class="{{tile.icon}} text-[40px] text-theme-mid group-hover:text-theme group-focus:text-theme" aria-hidden="true"></div>
            <h3 class="text-theme text-[20px] group-focus-within:underline group-hover:underline" 
                id="tile-heading-{{loop.index}}"
                >
                {{tile.title}} 
            </h3>
            <p class="text-black text-[18px] leading-lg mt-0"
                id="tile-description-{{loop.index}}"
                >
                {{tile.text}}
            </p>
            <div class="fa-solid fa-arrow-right text-theme-mid text-[20px] mt-auto group-hover:text-theme group-focus:text-theme" aria-hidden="true"></div>
        </a>
        {% endfor %}
    </div>



</section>