{% macro nysdsSearch(params) %}
  {%- include "./_nysdsSearch/_template.njk" -%}
{% endmacro %}
{% macro reimagineFooter(params) %}
  {%- include "./_reimagineFooter/_template.njk" -%}
{% endmacro %}
{% macro accomplishments(params) %}
  {%- include "./_accomplishments/_template.njk" -%}
{% endmacro %}
{% macro hero(params) %}
  {%- include "./_hero/_template.njk" -%}
{% endmacro %}
{% macro imageFull(params) %}
  {%- include "./_imageFull/_template.njk" -%}
{% endmacro %}