<!-- Load the full NYS Design System CSS. Link should go in head. -->
<link rel="stylesheet" href="/css/nysds-full.min.css" />
<!-- Load the NYS Design System JS library. Should go before the closing body tag -->
<script type="module" src="/js/nysds.js"></script>