 <section class="md:relative" > <!-- using a background image -->

    <div class="flex bg-[url('{{params.image}}')] bg-no-repeat bg-cover bg-center justify-end h-96   md:h-[calc(65vh)] max-h-[700px]  w-full">
    </div> <!--image -->

    <div class=" 
                md:absolute  right-0 
                flex flex-col 
                
                md:w-[400px] 
                md:border md:border-solid md:border-neutral-200 md:rounded-lg 
                p-8 md:p-8  md:mx-12
                md:inset-y-0 md:my-auto md:h-fit
                bg-theme-weak md:bg-white 
               "    
                
                > <!-- card with details -->
        <div class=""><img src="{{params.icon}}" class="w-24" alt="I love NY logo"/></div>

        <h2 class="text-[20px]">{{params.title}}</h2>

        <p class="text-black leading-md mt-0">{{params.description}}</p>

        <div class="flex flex-col">
            {% for link in params.links %}
            <a href="{{link.url}}" class="flex group text-link no-underline w-fit mb-2">
                <span class="group-hover:underline group-focus:underline">{{link.text}} </span>
                <span class="fa-solid fa-up-right-from-square text-link text-[12px] ml-2 mt-0.5 group-hover:no-underline group-focus:no-underline" aria-hidden="true"></span>
                </a>
            {% endfor %}
        </div>
    </div><!-- end card with details -->

</section>