
<section class="flex flex-col items-center lg:flex-row gap-10 max-w-[1160px] w-full mx-auto p-6 md:p-12">
    {# Left Column with Hero Title & Search Bar #}
   <div class="flex flex-col lg:w-[55%] items-center justify-center text-center gap-6 ">
    <h1 class="mb-5 font-bold text-theme-strong">
        <span class="block mb-3 font-normal text-theme text-sm tracking-[0.5rem] uppercase"> Welcome To </span> New York State
    </h1>

<fieldset class="border-none flex max-w-[1160px] w-full m-0 p-0">
    <legend class="w-full mb-7 flex font-semibold text-theme md:text-[1.05rem]">Explore the programs, services, and resources available in New York State.</legend>

<div class="relative w-full h-[42px]">
  <label class="sr-only" for="ny-hero-search-input">Search NY.gov</label>

     <input
         type="search"
         id="ny-hero-search-input"
        name="searchButton"
         class="w-full h-[42px] pl-4 pr-24 py-3.5 focus:outline-[4px] focus:outline-accent focus:border-accent "
         placeholder="Search NY.gov"
         aria-label="Search.NY.gov"/>
    <button class="ny-clear-input absolute right-32 top-[10px] hidden w-6 h-6 rounded-full focus:outline-1 focus:outline-theme bg-gray-500 hover:bg-theme-strong focus-visible:border-accent focus-visible:border-solid text-white items-center justify-center" id="ny-hero-search-clear" type="button" aria-label="Clear search input">
        <i class="fa-solid fa-xmark text-xs"></i>
    </button>
    <button type="submit" class="absolute right-0 top-0 bottom-0 px-6 bg-theme-strong text-white hover:text-white hover:bg-theme-mid focus:text-white hover:outline-2 hover:border-accent border-2">Search
    <i class="fa-solid fa-magnifying-glass ml-1"></i>
     </button>
     </div>
        </fieldset>
<script>
  const searchInput = document.getElementById('ny-hero-search-input');
  const clearBtn = document.getElementById('ny-hero-search-clear');

  function toggleClearBtn() {
    if (searchInput.value.length > 0) {
      clearBtn.classList.remove('hidden');
      clearBtn.classList.add('flex');
    } else {
      clearBtn.classList.add('hidden');
      clearBtn.classList.remove('flex');
    }
  }

  searchInput.addEventListener('input', toggleClearBtn);

  clearBtn.addEventListener('click', () => {
    searchInput.value = '';
    toggleClearBtn();
    searchInput.focus();
  });

  // run once on load in case the field is pre-filled
  toggleClearBtn();
</script>

    </div>
    {# Right Column with image placement #}
    <div class="flex flex-col lg:w-[45%] w-full">
       <img src="{{params.image}}" alt="{{params.alt}}" class="md:w-full lg:w-[500px] md:h-[320px] lg:h-[400px] h-72 object-cover rounded-xl"/>
            <span class="text-xs text-gray-500 mt-3 block w-full text-right"> {{params.caption}} </span>
    </div> 
</section>
