<footer class="flex bg-theme-strong">

    <section class="m-16 flex lg:flex-row flex-col max-w-[1280px] w-full">

        <div class="flex-col">
            <div class="mb-4"> {# ny.gov main link title area #}
                <a class="text-7xl !text-white no-underline hover:underline focus:underline font-extrabold" href="#">ny.gov</a>
            </div>

            <div class="text-white"> {# social links area #}
                <ul class="p-0 list-none">
                    {% for item in params.social %}
                    <li class="py-2">
                        <a href="{{item.link}}" class="!text-white no-underline hover:underline focus:underline">{{item.title}}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>

        <nav class="lg:mx-8 flex flex-row w-full" >
            <ul class="p-0 list-none flex flex-col md:flex-row lg:justify-evenly justify-between w-full">
                {% for column in params.columns %}
                    <li class="" x-data="{open{{loop.index}}: false}"> 
                        <button class="bg-transparent p-0 md:hidden flex w-full reimagine-footer-accordion hover:!underline focus:outline-2 focus:outline focus:outline-white focus:underline"
                        x-on:click="open{{loop.index}} = ! open{{loop.index}}"
                        >
                            <h3 class="text-white"> {{column.title}}</h3> 
                        </button>
                        <h3 class="text-white md:block hidden"> {{column.title}}</h3> 
                        <ul class="p-0 list-none md:!block" x-show="open{{loop.index}}" >
                            {% for link in column.links %}
                                <li class="text-white"><a href="" class="!text-white">{{link.title}}</a></li>
                            {% endfor %}
                        </ul>
                    </li>
                {% endfor %}
            </ul>
            

        </nav>

        {%if params.cta %}
            <div class="lg:w-1/4 flex flex-row lg:flex-col">
                {% for cta in params.cta %}
                <a href="{{cta.link}}" class="!text-white no-underline hover:underline focus:underline hover:bg-black focus:bg-black border border-solid border-white rounded-xl text-center p-4">{{cta.title}}</a>
                <span class="my-4 text-white leading-relaxed">{{cta.description}}</span>
                {% endfor %}
            </div>
        {%endif%}

    </section>




    <section class="">
    </section>



</footer>