<!doctype html>
<html lang="en">
  <!-- If you're reading this: help us obi-wan can-coder, you're our only hope. Apply today: ogs.ny.gov/employment -->
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{title}}">
    <meta name="generator" content="11ty/eleventy">    
<link rel="stylesheet" media="all" href="https://www.ny.gov/sites/default/files/css/css_0pHalIVo5rr4vDEYdNCho0WKLpUReQqR6gqteRpeX_c.css?delta=0&language=en&theme=nygov_theme&include=eJxVjUEOAiEQBD-Ey5PMLHRGzMAYml3F15vIaS-VSl0qmZAz7kKEtLyCFAVD8o6Y-_ES2-Qpn0vIRcx1pea9ipUvQpvq5308UBHVfBe7cUwrTQMnB-o6nQVvxj-36vkw_AAECjSn" />
<link rel="stylesheet" media="all" href="https://www.ny.gov/sites/default/files/css/css_XZqf07gDe1Ax8SN17_mf1bcblJ2S0WlsNFfdDQoh2bE.css?delta=1&language=en&theme=nygov_theme&include=eJxVjUEOAiEQBD-Ey5PMLHRGzMAYml3F15vIaS-VSl0qmZAz7kKEtLyCFAVD8o6Y-_ES2-Qpn0vIRcx1pea9ipUvQpvq5308UBHVfBe7cUwrTQMnB-o6nQVvxj-36vkw_AAECjSn" />
<link rel="stylesheet" media="all" href="https://www.ny.gov/profiles/contrib/nygov/themes/custom/nygov-theme/storybook/dist/styles.css?t7hscu" />
<link rel="stylesheet" media="all" href="https://www.ny.gov/sites/default/files/css/css__26pUre_GJfva0bZUDMSa1vK3DZ5a_g5w3dEtFIhlpU.css?delta=3&language=en&theme=nygov_theme&include=eJxVjUEOAiEQBD-Ey5PMLHRGzMAYml3F15vIaS-VSl0qmZAz7kKEtLyCFAVD8o6Y-_ES2-Qpn0vIRcx1pea9ipUvQpvq5308UBHVfBe7cUwrTQMnB-o6nQVvxj-36vkw_AAECjSn" />

<link href="/css/fonts.css" rel="stylesheet">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <style>
  :root {
      --primary-core-blue: #154973;
      --secondary-core-blue: #457AA5;
      --link-blue: #004DD1;
      --tertiary-core-blue: #EFF6FB;
      --quaternary-blue: #007AC2;
      --core-accent-yellow: #FACE00;
      --yellow-alert: #FFE396;
      --black: #000000;
      --darkest-gray: #242424;
      --dark-gray: #62666A;
      --mid-gray: #D0D0CE;
      --light-gray: #EDEDED;
      --white: #FFFFFF;
      --dark-red-alert: #B32E31;
      --light-red-alert: #FEC3C3;
      --success-green: #329d08;
      --warning-orange: #d4820c;
    }
</style>
{% include '_js-link.njk' %}
  
    <link href="/css/fonts.css" rel="stylesheet">
    <title>{{ title }}</title>
  </head>
  <body class="path-frontpage page-node-type-landing-page">
    <main class="" id="main-site-content-for-skiplink">
      <article class="node node--type-landing-page node--promoted node--view-mode-full">
        <article class="p-landing-page -full-page ">
          <div class="t-section -container">
            {{ content | safe }}
          </div>
        </article>
      </article>
    </main>

  </body>
</html>